/* navbar */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  color:white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 50vh;
  font-family: 'Poppins', sans-serif;
  background-color: #1b072b;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:hover {
  color: rgb(136 80 181);
}
.navbar-toggler-icon {
  filter: invert(100%) sepia(0%) saturate(1895%) hue-rotate(337deg) brightness(117%) contrast(104%);
}
.front-image {
  position: relative;
  width: 100%;

}

.log {
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a {
  color: #fefefe;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links li {
  list-style: none;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.burger {
  display: none;
  cursor: pointer;
}
.btn.btn-secondary.dropdown-toggle {
  display: none;
  color:white;
}

@media screen and (max-width:1024px) {
  .nav-links {
    width: 60%;
  }
  .dropdown-menu, .dropdown-menu-lg-right {
    display:none;
    color:black;
  }
}

@media screen and (max-width:768px) {
  body{
    overflow-x: hidden;
    
  }
}

@media screen and (max-width:600px) {
  .nav-links {
    display: none;
  }
  .btn.btn-secondary.dropdown-toggle {
    display: contents;
  }
  /* .front-image {
    margin: relative;
    min-width: 40vh;
  
  } */
}
.title {
  text-align: center;
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Description portion */

  
.work-feature-block-image {
    display: block;
    margin: auto;
    padding: 10px 0;
}

.carousel-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;

}

img {
    width: 20%;
    height: 20%;
}


/* main */
body {
    background-size: cover;
}

.columns {
    text-align: center;
}

body {
    color: #fefefe;
}

h2 {
  color: #fefefe;
}

h4 {
  color: #fefefe;
}

li {
  color: black;
}

button {
  color: black;
}

/* Testimonials */

@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  margin-top: 5%;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: rgb(90, 2, 172);
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #ffffff;  
  position: relative;
}

.navbar-brand {
  float: none;
}
.team .team_member h3{
  color: #4bd3f5;
  font-size: 20px;
  margin-top: 50px;
  font-weight: bold;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color:rgb(136 80 181);
}

.team .team_member p.role{
  color: rgb(255, 255, 255);
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 50%;
}

.team_member {
  border-radius: 5px;
}


#container {
  width: 25%;
  height: 500px;
}

td {
  color: white;
}

th {
  color: white;
}


/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}


#search-req {
  color: white;
}