<div class = "container">
    <div class="row">
        <div class="col">
            <div class="container album-cols">
        <div class="card" style="width: 18rem;">
  <div class="card-body"  style="background-color: purple;">
    <h5 class="card-title">Album Results</h5>
    <p class="card-text">
           {{#each albums}}
                <ul>

                    <li class = "li-item"></li>
                    {{this.name}}
                    </li>
                    </ul>

                {{/each}}
    </p>
    <a href="/search" class="card-link">Go back to search</a>
  </div>
</div>
            </div>
        </div>
    </div>
</div>
